.sm-gray-button {
    background: linear-gradient(0deg, #444444 100%, #333333 0%); 
    color: white;
    border:1px solid #FFFFFF1A;
    border-radius:4px ;
    padding: 8px 16px 8px 16px;
    gap: 10px;
}

.sm-gray-button:hover {
    
    box-shadow: 0px 0px 4px 0px #0000004D;
    background-color: #333333;
    cursor: pointer;
}

.sm-gray-button:active {
    background-color: #333333;
    border: 1px solid #0000004D;
}

.page1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
