html, body {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
 
    color: var(--text-main);
}

.modal-header {
    padding: 4px 4px 4px 4px;
}

.sm-gray-button {
    background: linear-gradient(180deg, #555555 0%, #333333 100%); 
    color: white;
    border:1px solid #FFFFFF1A;
    border-radius:4px ;
    padding: 8px 16px 8px 16px;
    gap: 10px;
}

.sm-gray-button:hover {
    
    box-shadow: 0px 0px 4px 0px #0000004D;
    background-color: #333333;
    cursor: pointer;
}

.sm-gray-button:active {
    background-color: #333333;
    border: 1px solid #0000004D;
}

.page1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background: #000000B2;
}

 
 

.modal-overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;  
  height: 100vh;
  background: rgba(0, 0, 0, 0.705);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

 
 

.modal-content {
  position: relative; 
  color: white;
  background: #302f2f; 
  padding: 16px;
  border-radius: 8px;
  width: 460px;
  height: auto; 
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.close-x {
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
    border: 1px solid transparent;
    color: #a0a0a0;
    font-size: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;   
    border-radius: 6px;
    padding: 6px;
    gap: 10px;
    color: #CBCBCB;
}

.inner-card {
  background-color:   #191819;
  border-radius: 12px;
  padding: 10px;
  gap: 10px 0;
  
}



.toggle-container {
  display: flex;
   background:  #2a2a2a;
  padding: px;
  border-radius: 8px;
  gap: 1px;
  padding: 2px 2px 2px 2px;
}



.toggle-btn {
  flex: 1;
  padding: 10px 16px 10px 16px;
  border: none;
  border-radius: 8px;
  color: white;
  background: transparent;
  cursor: pointer;
  transition: 0.2s;
  height: 42px;
 
}



.toggle-btn.active {
 background:#121212;
  color: white;
} 

.export-bttn {  
    background: linear-gradient(180deg, #555555 0%, #333333 100%);
    color: white;
    border:1px solid black;
    border-radius:4px ;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    align-self:center;
    font-weight: 500;
    font-size: 12px;
   margin-top: 5px;
   cursor: pointer;
}

.html-l1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
}

.html-l1 p {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    color: #f6f4f4;
    margin-left: 8px;
}

.ziped {
    background-color: #313131;
    padding: 2px 8px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 200;
    padding: 3px 11px 2px 11px;
        color: #f6f4f4;
}

.html-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input[type="checkbox"] {
     width: 20px;
     height: 20px;
     background-color: #6366f1;
     border-color: #6366f1;
        border-radius: 4px;
    ;
     
}

input[type="checkbox"]:checked {
    background-color: #6366f1;
    border-color: #6366f1;
}

label {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #a0a0a0;
    font-size: 14px;
    font-weight: 400;
    margin-left: 8px;
    
}

p {
    font-size: 14px;
    display: flex;
    align-items: center;
    font: Kumbh Sans;
    font-weight: 400;
    font-style: regular;
    font-weight: 400;
    height: 21px;
    color: #8f8e8f;
}

h2 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    size: 18px;
    height: 22px;
    color: #f6f6f7;
    padding: 4px 0;
    font-style: semi-bold;
}

 
.custom-checkbox {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 28px;  
  cursor: pointer;
  font-size: 14px;
  color: var(--text-dim);
  user-select: none;
  margin-bottom: 12px;
}

 
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

 
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: 1.5px solid #444;  
  border-radius: 4px;
  transition: all 0.2s ease;
}

 
.custom-checkbox input:checked ~ .checkmark {
  background-color: #6366f1;
  border-color: #6366f1;
}

 
.checkmark:after {
  content: "";
  position: absolute;
  display: none; 
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

 
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}