 

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
 
    color: var(--text-main);
}

.sm-gray-button {
    background: linear-gradient(0deg, #444444 100%, #333333 0%); 
    color: white;
    border:1px solid #FFFFFF1A;
    border-radius:4px ;
    padding: 8px 16px 8px 16px;
    gap: 10px;
}

.sm-gray-button:hover {
    
    box-shadow: 0px 0px 4px 0px #0000004D;
    background-color: #333333;
    cursor: pointer;
}

.sm-gray-button:active {
    background-color: #333333;
    border: 1px solid #0000004D;
}

.page1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background: #000000B2;
}

 
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.705);  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}   

 
.modal-content {
  position: absolute;
  color: white;
  background: #302f2f; 
  padding: 16px;
  gap: 20px;
  border-radius: 8px;
  width: 460px;
  min-height: unset;
  min-width: 460px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  top: 171px;
  left:490px;
  display: flex;
  flex-direction: column;
  border: 1px solid #0000004D;

}

.close-x {
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
    border: 1px solid transparent;
    color: #a0a0a0;
    font-size: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;   
    border-radius: 6px;
    padding: 6px;
    gap: 10px;
    color: #CBCBCB;
}

.inner-card {
  background-color:  #1a1a1a;
  border-radius: 12px;
  padding: 10px;
  gap: 10px 0;
}



.toggle-container {
  display: flex;
   background:  #2a2a2a;
  padding: 4px;
  border-radius: 8px;
  gap: 1px;
}



.toggle-btn {
  flex: 1;
  padding: 10px 16px 10px 16px;
  border: none;
  border-radius: 8px;
  color: white;
  background: transparent;
  cursor: pointer;
  transition: 0.2s;
 
}



.toggle-btn.active {
 background:#121212;
  color: white;
} 

.export-bttn {
    background: linear-gradient(180deg, #555555 0%, #333333 100%);
    color: white;
    border:1px solid #FFFFFF1A;
    border-radius:4px ;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    align-self:center;
    
}

.html-l1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ziped {
    background-color: #313131;
    padding: 2px 8px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 200;
    padding: 3px 11px 2px 11px;
}

.html-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input[type="checkbox"] {
     width: 20px;
     height: 20px;
     background-color: #6366f1;
     border-color: #6366f1;
    ;
     
}

label {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #a0a0a0;
    font-size: 14px;
    font-weight: 400;
}

p {
    font-size: 14px;
    display: flex;
    align-items: center;
    font: Kumbh Sans;
    font-weight: 400;
    
}

h2 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    size: 18px;
    height: 22px;
    gap:6px;
    padding: 4px 0;
}