:root {
  --bg-dark: #1e1e1e;          /* Main modal background */
  --bg-inner: #121212;         /* Inner section background */
  --text-main: #ffffff;        /* White text */
  --text-dim: #a0a0a0;         /* Gray subtext */
  --accent-purple: #6366f1;    /* Checkbox/Active purple */
  --btn-gray: #333333;         /* Inactive tab / Download button */
  --tab-active: #2a2a2a;       /* Active tab background */
}

.sm-gray-button {
    background: linear-gradient(0deg, #444444 100%, #333333 0%); 
    color: white;
    border:1px solid #FFFFFF1A;
    border-radius:4px ;
    padding: 8px 16px 8px 16px;
    gap: 10px;
}

.sm-gray-button:hover {
    
    box-shadow: 0px 0px 4px 0px #0000004D;
    background-color: #333333;
    cursor: pointer;
}

.sm-gray-button:active {
    background-color: #333333;
    border: 1px solid #0000004D;
}

.page1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background: #000000B2;
}

/* The dark background behind the popup */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.545);  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}   

/* The popup box itself */
.modal-content {
  position: absolute;
  color: white;
  background: #302f2f; 
  padding: 16px;
  gap: 16px;
  border-radius: 8px;
  width: 460px;
  height: 367px;
  min-width: 460px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  top: 171px;
  left:490px;
  display: flex;
  flex-direction: column;
}

/* A simple close button in the corner */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}


.inner-card {
  background-color: var(--bg-inner);
  border-radius: 12px;
  padding: 20px;
  margin: 20px 0;
}



.toggle-container {
  display: flex;
  background: #1a1a1a;
  padding: 4px;
  border-radius: 8px;
  margin-bottom: 20px;
}



.toggle-btn {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
  color: var(--text-dim);
  background: transparent;
  cursor: pointer;
  transition: 0.2s;
}



.toggle-btn.active {
  background: var(--tab-active);
  color: white;
} 

.model.sm-gray-button {
    background: linear-gradient(0deg, #444444 100%, #333333 0%); 
    color: white;
    border:1px solid #FFFFFF1A;
    border-radius:4px ;
    padding: 8px 16px 8px 16px;
    gap: 10px;
}