.sm-gray-button {
    background-color: #333333; 
    color: white;
    border:1px solid #333333;
    border-radius:4px ;
    padding: 8px 16px;
}

.page1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}